{% extends 'bases/crous-base.html.twig' %}

{% block subnavbar %}
	<nav class="subnavbar-crous">
		<div class="flex-center pseudo-elt previous-link">
			<a href="{{ path('home') }}">Page précédente</a>
		</div>
		<div class="subnavbar-title">
			<h1>Gestion des applications</h1> 
			<em>Modifier, créer, supprimer une application du CROUS.</em>
		</div>
	</nav>
{% endblock %}

{% block body %}

{% include "bases/_display-flashes.html.twig" %}

<table class="table table-applications">
	<thead class="thead-crous">
		<tr>
			<th>Code</th>
			<th>Libellé court</th>
			<th class="center">Transverse</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
	{% for application in applications %}
		<tr class="vert-middle">
			<td><strong>{{ application.code }}</strong></td>
			<td>{{ application.libelle }}</td>
			<td class="flex-center {% if application.isTransverse() %}yes"><em>oui</em>{% else %}no"><em>non</em>{% endif %}</td>
			<td class="actions">
				<div class="flex-space-around">
					<a class="show-link" href="{{ path('admin.gestion-applications.voir-application', {'id': application.id}) }}"></a>
					<a class="edit-link" href="{{ path('admin.gestion-applications.editer-application', {'id': application.id}) }}"></a>
					<form method="post" action="{{ path('admin.gestion-applications.supprimer-application', {'id': application.id}) }}" onsubmit="return confirm('Confirmation : Êtes-vous sûr de supprimer cette application ?');">
						<input type="hidden" name="_method" value="DELETE">
						<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ application.id) }}">
						<button class="delete-link"></button>
					</form>
				</div>
			</td>
		</tr>
	{% else %}
		<tr>
			<td colspan="5">Aucune application enregistrée en base de données</td>
		</tr>
	{% endfor %}
	</tbody>
</table>

<div class="flex-center add-item-div" onclick="location.href='{{ path('admin.gestion-applications.nouvelle-application') }}';" style="cursor: pointer;">
		Créer application
</div>

{% endblock %}
