{% extends 'bases/crous-base.html.twig' %}

{% block subnavbar %}
	<nav class="subnavbar-crous">
		<div class="previous-link">
			<a href="{{ path('admin.gestion-applications.home') }}">Page précédente</a>
		</div>
		<div class="subnavbar-title">
			<h1>Application {{ application.libelle }}</h1>
		</div>
	</nav>
{% endblock %}

{% block body %}

    <table class="table">
        <tbody>
			<tr>
				<th>Code</th>
				<td>{{ application.code }}</td>
			</tr>
			<tr>
				<th>Libellé court</th>
                <td>{{ application.libelle }}</td>
			</tr>
			<tr>
				<th>Libellé long</th>
                <td>{{ application.getLibelleLong() }}</td>
			</tr>
			<tr>
				<th>Nombre de demandes en cours</th>
                <td>{{ application.countInDemands() }}</td>
			</tr>
			<tr>
				<th>Nombre de droits effectifs en cours ou à venir</th>
                <td>{{ application.countInRights() }}</td>
			</tr>
        </tbody>
    </table>

	<a class="edit-link flex-center" href="{{ path('admin.gestion-applications.editer-application', {'id': application.id}) }}">MODIFIER</a>
{% endblock %}
