{% extends 'bases/crous-base.html.twig' %}

{% block subnavbar %}
	<nav class="subnavbar-crous">
		<div class="flex-center pseudo-elt previous-link">
			<a href="{{ path('home') }}">Page précédente</a>
		</div>
		<div class="subnavbar-title">
			<h1>Gestion des services</h1> 
			<em>Modifier, créer, supprimer un service du CROUS.</em>
		</div>
	</nav>
{% endblock %}

{% block body %}

{% include "bases/_display-flashes.html.twig" %}

<table class="table table-services">
	<thead class="thead-crous">
		<tr>
			<th>Code</th>
			<th>Libellé</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
	{% for service in services %}
		<tr class="vert-middle">
			<td><strong>{{ service.code }}</strong></td>
			<td>{{ service.libelleCourt }}</td>
			<td class="actions">
				<div class="flex-space-around">
					<a class="pseudo-elt show-link" href="{{ path('admin.gestion-services.voir-service', {'id': service.id}) }}"></a>
					<a class="pseudo-elt edit-link" href="{{ path('admin.gestion-services.editer-service', {'id': service.id}) }}"></a>
					<form method="post" action="{{ path('admin.gestion-services.supprimer-service', {'id': service.id}) }}" onsubmit="return confirm('Confirmation : Êtes-vous sûr de supprimer ce service ?')">
						<input type="hidden" name="_method" value="DELETE">
						<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ service.id) }}">
						<button class="pseudo-elt delete-link"></button>
					</form>
				</div>
			</td>
		</tr>
	{% else %}
		<tr>
			<td colspan="5">Aucun service enregistré en base de données</td>
		</tr>
	{% endfor %}
	</tbody>
</table>

<div class="flex-center pseudo-elt add-item-div" onclick="location.href='{{ path('admin.gestion-services.nouveau-service') }}';" style="cursor: pointer;">
		Créer service
</div>

{% endblock %}
