{% extends "sign-in-base.html.twig" %}
	
{% block body %}
	<div class="text-center">
		<img class="mb-4" src="ressource\logo_Crous.png" alt="" width="120" height="120">
		<h1 class="h3 mb-3 font-weight-normal"><strong>CROUS Clermont-Auvergne</strong></h1>
		<h5 class="h3 mb-3 font-weight-normal">Connexion</h5>
	
		<form class="form-signin" method="POST">
			
			{% for message in app.flashes('message') %}
			<div class="alert alert-success" role="alert">
				{{ message }}
			</div>
			{% endfor %}
			{% for message in app.flashes('warning') %}
			<div class="alert alert-danger" role="alert">
				{{ message }}
			</div>
			{% endfor %}
			{% if error %}
			<div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
			{% endif %}

			<label for="inputEmail" class="sr-only">Adresse email</label>
			<input type="email" value="{{ last_username }}" id="inputEmail" name="email" class="form-control" placeholder="adresse email" required autofocus>
			
			<label for="inputPassword" class="sr-only">Mot de passe</label>
			<input type="password" id="inputPassword" name="password" class="form-control" placeholder="mot de passe" required>

			<input type="hidden" name="_csrf_token"
			value="{{ csrf_token('authenticate') }}"
	 		>
			
			<a id="forgotten-pass" href="{{ path('security.forgotten_password') }}" style="font-size: 0.8em;">
				mot de passe oublié ?
			</a>
			
			<div class="row">
				<div class="col-md-12">
					<button class="btn bouton-crous" type="submit" style="width: 100%;">Se connecter</button>
				</div>
			</div>
		</form>
		<div class="form-signin">
			Pas encore de compte ? <a href="{{ path('security.registration') }}">créer un compte </a>
		</div>
	</div>
 	<p style="text-align: center;">
		<r class="tiny-font">CROUS : Gestion et revue des droits. @hugobayoud - Version 1.9.1</r>
	</p>
{% endblock %}

{% block javascripts %}
<script>
	$('a#forgotten-pass').click(function() {
		var text = $('input#inputEmail').val();
		console.log(text);
		sessionStorage.setItem("email", text);
	});
</script>
{% endblock %}