{% extends 'base.html.twig' %}

{% block title %}application index{% endblock %}


{% block body %}
	<div class="text-center" style="margin-top: 30px;">
		<h1>Gestion des applications</h1> 
		<p>
			<em>Modifier, créer, supprimer une application du CROUS.</em>
		</p>
	</div>

	{% for message in app.flashes('message') %}
	<div class="alert alert-success table-applications" style="margin-bottom: 10px;" role="alert">
		{{ message }}
	</div>
	{% endfor %}
	{% for message in app.flashes('warning') %}
	<div class="alert alert-danger table-applications"  style="margin-bottom: 10px;" role="alert">
		{{ message }}
	</div>
	{% endfor %}

    <table class="table table-applications">
        <thead class="thead-crous">
            <tr>
                <th>Code</th>
                <th>Libellé</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
		{% for application in applications %}
		{# {% set numberOfAgents = application.getNumberOfAgentsLinked() %} #}
            <tr>
                <td><strong>{{ application.code }}</strong></td>
                <td>{{ application.libelle }}</td>
                <td class="actions">
					<div class="modify-links">
						<a class="show-link" href="{{ path('admin.application.show', {'id': application.id}) }}"></a>
						<a class="edit-link" href="{{ path('admin.application.edit', {'id': application.id}) }}"></a>
						<form method="post" action="{{ path('admin.application.delete', {'id': application.id}) }}" onsubmit="return confirm('Confirmation : Êtes-vous sûr de supprimer cette application ?');">
							<input type="hidden" name="_method" value="DELETE">
							<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ application.id) }}">
							<button class="delete-link"></button>
						</form>
					</div>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">Aucune application enregistrée en base de données</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

	<div class="add-item-div">
		<a href="{{ path('admin.application.new') }}" class="">
			Créer une nouvelle application
		</a>
	</div>

{% endblock %}
