{% extends "base.html.twig" %}

{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% block body %}
	<h1 class="text-center">Validation de role pour <strong>{{ user.getPrenom() }} {{ user.getNom() }}</strong></h1>
		<div style="margin-top: 30px;">
			<div class="card">
				<div class="card-title">{{ service.getCode() }}</div>
				<div class="card-body">
					{{ form_start(form) }}
					{{ service.getCode() }} / {{ service.getLibelleCourt() }} :
						{{ form_row(form.valide, {'id': 'check' }) }}
					DATE de début :
						{{ form_row(form.date_deb, {'id': 'date_deb' }) }}
					DATE de fin :
						{{ form_widget(form.date_fin, {'id': 'date_fin' }) }}
					{{ form_end(form) }}
				</div>	
			</div>
		</div>
{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.5/css/select2.min.css">
{% endblock %}

{% block javascripts %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.5/js/select2.min.js"></script>
<script>
	$('select').select2();

</script>
<script type="text/javascript">
	$(function () {
		$("#check").change(function () {
			var st = this.checked;
			if (st) {
				$("#date_deb").prop("disabled", false);
				$("#date_fin").prop("disabled", false);
			}
			else {
				$("#date_deb").prop("disabled", true);
				$("#date_fin").prop("disabled", true);
			}
		});
	});
</script>
{% endblock %}