{% extends "base.html.twig" %}

{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% block body %}
<div class="text-center" style="margin-top: 30px;">
	<h1>Gestion des utilisateurs</h1> 
	<h5>Si un utilisateur spécifique n'apparaît pas, c'est sûrement car vous n'avez pas encore validé son compte. Pour ce faire, se rendre <a href="{{ path('admin.utilisateurs.validation') }}">ici</a></h5>
</div>

{% for message in app.flashes('message') %}
<div class="alert alert-success" role="alert">
	{{ message }}
</div>
{% endfor %}
{% for message in app.flashes('warning') %}
<div class="alert alert-danger" role="alert">
	{{ message }}
</div>
{% endfor %}

<table class="table table-striped">
	<thead style="font-size: 1.2em;" class="table-danger">
		<th >Prénom Nom</th>
		<th>Email</th>
		<th>Fin de validité de contrat</th>
		<th></th>
	</thead>
	<tbody>
		{% for user in users %}
		<tr>
			<td class="vert-middle"><strong>{{ user.prenom }} {{ user.nom }}</strong></td>
			<td class="vert-middle">{{ user.email }}</td>
			<td class="text-center vert-middle">{{ user.formatDate(user.getDateFinValid()) }}</td>
			<td class="vert-middle"><a class="flip pencil" href="#user_detail_{{ loop.index0 }}"></a><a class="trash" href=""></a></td>
		</tr>
		{% endfor %}
	</tbody>
</table>

<hr>

{{ form_start(form) }}
<div class="detail-box">
	{% for userForm in form.users %}
	<div class="panel" id="user_detail_{{ loop.index0 }}">
		<div class="row form-row-center">
			<div class="col-md-6">{{ form_row(userForm.prenom) }}</div>
			<div class="col-md-6">{{ form_row(userForm.nom) }}</div>
		</div>
		<div class="row form-row-center">
			<div class="col-md-6">{{ form_row(userForm.date_deb_valid) }}</div>
			<div class="col-md-6">{{ form_row(userForm.date_fin_valid) }}</div>
		</div>
		<div class="row form-row-center">
			<div class="col-md-12">{{ form_row(userForm.services) }}</div>
		</div>
		<div class="form-row-center">
			<button type="submit" class="btn bouton-crous float-right">Enregistrer</button>
		</div>
	</div>
	{% endfor %}
</div>
{{ form_end(form) }}

{% endblock %}