{% extends "base.html.twig" %}

{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% block body %}
<div class="text-center" style="margin-top: 30px;">
	<h1>Gestion des utilisateurs</h1> 
	<h5>Si un utilisateur spécifique n'apparaît pas, c'est sûrement car vous n'avez pas encore validé son compte. Pour ce faire, se rendre <a href="{{ path('admin.utilisateurs.validation') }}">ici</a></h5>
</div>

{% for message in app.flashes('message') %}
<div class="alert alert-success" role="alert">
	{{ message }}
</div>
{% endfor %}
{% for message in app.flashes('warning') %}
<div class="alert alert-danger" role="alert">
	{{ message }}
</div>
{% endfor %}

<table class="table table-striped">
	<thead style="font-size: 1.2em;" class="table-danger">
		<th >Prénom Nom</th>
		<th>Email</th>
		<th>Fin de validité de contrat</th>
		<th></th>
	</thead>
	<tbody>
		<tr>
			<td class="vert-middle"><strong>{{ user.prenom }} {{ user.nom }}</strong></td>
			<td class="vert-middle">{{ user.email }}</td>
			<td class="text-center vert-middle">{{ user.formatDate(user.getDateFinValid()) }}</td>
			{# <td class="vert-middle"><a class="flip pencil" href="#user_detail_{{ loop.index0 }}"></a><a class="trash" href=""></a></td> #}
			<td class="vert-middle"><a class="flip pencil" href="#user_detail_0"></a></td>
	</tbody>
</table>

<hr>

{{ form_start(form) }}
	<div class="detail-box">
		{# <div class="panel" id="user_detail_{{ loop.index0 }}"> #}
		<div class="panel" id="user_detail_0">
			<div class="dsis" data-prototype="{{ form_widget(form.dsis.vars.prototype)|e('html_attr') }}">
			{% for dsiForm in form.dsis %}
				<div class="text-center form-date">
					<div class="row form-row-center">
						<div class="col-md-4">{{ form_row(dsiForm.date_deb) }}</div>
						<div class="col-md-4">{{ form_row(dsiForm.date_fin) }}</div>
					</div>
				</div>
			{% endfor %}
			</div>
			<div>
				<button type="submit" class="btn bouton-crous float-right">Enregistrer ces dates</button>
			</div>
		</div>
	</div>
{{ form_end(form) }}
{% endblock %}



{% block javascripts %}
<script>
	var $collectionHolder;

	// setup an "add a tag" link
	var $addTagButton = $('<button type="button" class="add_tag_link btn btn-primary">Ajouter une période</button>');
	var $newLinkLi = $('<div></div>').append($addTagButton);

	jQuery(document).ready(function() {
		// Get the ul that holds the collection of tags
		$collectionHolder = $('div.dsis');

		// add a delete link to all of the existing tag form li elements
		$collectionHolder.find('div.form-row-center').each(function() {
        	addTagFormDeleteLink($(this));
    	});

		// add the "add a tag" anchor and li to the tags ul
		$collectionHolder.append($newLinkLi);

		// count the current form inputs we have (e.g. 2), use that as the new
		// index when inserting a new item (e.g. 2)
		$collectionHolder.data('index', $collectionHolder.find('input').length);

		$addTagButton.on('click', function(e) {
			addTagForm($collectionHolder, $newLinkLi);
		});
	});

	function addTagForm($collectionHolder, $newLinkLi) {
		// Get the data-prototype explained earlier
		var prototype = $collectionHolder.data('prototype');

		// get the new index
		var index = $collectionHolder.data('index');

		var newForm = prototype;
		// You need this only if you didn't set 'label' => false in your tags field in TaskType
		// Replace '__name__label__' in the prototype's HTML to
		// instead be a number based on how many items we have
		// newForm = newForm.replace(/__name__label__/g, index);

		// Replace '__name__' in the prototype's HTML to
		// instead be a number based on how many items we have
		newForm = newForm.replace(/__name__/g, index);

		// increase the index with one for the next item
		$collectionHolder.data('index', index + 1);

		// Display the form in the page in an li, before the "Add a tag" link li
		var $newFormLi = $('<div class="text-center form-row-center" style="background: lightgrey; padding: 10px;"><div class="col-md-4"></div><div class="col-md-4"></div></div>').append(newForm);
		$newLinkLi.before($newFormLi);

		// add a delete link to the new form
		addTagFormDeleteLink($newFormLi);
	}

	function addTagFormDeleteLink($tagFormLi) {
		var $removeFormButton = $('<div class="col-md-4"><button type="button" class="btn btn-danger">Supprimer cette date</button></div>');
		$tagFormLi.append($removeFormButton);

		$removeFormButton.on('click', function(e) {
			// remove the li for the tag form
			$tagFormLi.remove();
		});
	}

</script>
{% endblock %}