{% extends "base.html.twig" %}

{% block body %}
<div class="text-center" style="margin-top: 30px;">
	<h1>Gestion des utilisateurs</h1> 
	<h5>Si un utilisateur spécifique n'apparaît pas, c'est sûrement car vous n'avez pas encore validé son compte. Pour ce faire, se rendre <a href="{{ path('admin.utilisateurs.validation') }}">ici</a></h5>
</div>

{% for message in app.flashes('message') %}
<div class="alert alert-success" role="alert">
	{{ message }}
</div>
{% endfor %}
{% for message in app.flashes('warning') %}
<div class="alert alert-danger" role="alert">
	{{ message }}
</div>
{% endfor %}

<table class="table table-striped">
	<thead style="font-size: 1.2em;" class="table-danger">
		<th >Prénom Nom</th>
		<th>Email</th>
		<th></th>
	</thead>
	<tbody>
		{% for user in users %}
		<tr>
			<td class="vert-middle"><strong>{{ user.prenom }} {{ user.nom }}</strong></td>
			<td class="vert-middle">{{ user.email }}</td>
			{# <td class="vert-middle"><a class="flip pencil" href="#user_detail_{{ loop.index0 }}"></a><a class="trash" href=""></a></td> #}
			<td class="vert-middle"><a class="flip pencil" href="#user_detail_{{ loop.index0 }}"></a></td>
		</tr>
		{% endfor %}
	</tbody>
</table>

<hr>
<p>Sélectionner un agent pour modifier ses dates de DSI</p>
<div class="detail-box">

	{% for form in forms %}
	{% form_theme form 'bootstrap_4_layout.html.twig' %}
	<div class="panel" id="user_detail_{{ loop.index0 }}">
		
		<p><em>{{ users[loop.index0].prenom }} {{ users[loop.index0].nom }}</em></p>
		{{ form_start(form) }}
			<div class="dsis_{{ loop.index0 }}" data-prototype="{{ form_widget(form.dsis.vars.prototype)|e('html_attr') }}">
				{% for dsi in form.dsis %}
					<div class="row form-row-center">
						<div class="col-md-4">{{ form_row(dsi.date_deb, {'label' : 'Date de début'}) }}</div>
						<div class="col-md-4">{{ form_row(dsi.date_fin, {'label' : 'Date de fin'}) }}</div>
					</div>
				{% endfor %}
			</div>
			<input type="hidden" id="custId" name="custId" value="{{ loop.index0 }}">
			<div class="float-right form-row-center">
				{{ form_row(form.save, {'label': 'Enregistrer ces dates'}) }}
			</div>
		{{ form_end(form) }}

	</div>
	{% endfor %}

</div>

{% endblock %}
