{% extends "base.html.twig" %}

{% block body %}
<div class="text-center" style="margin-top: 30px;">
	<h1>Gestion des validations de compte</h1>
	<h5>Pour attribuer un rôle aux utilisateurs dont le compte a été validé, veuillez vous rendre <a href="{{ path('admin.utilisateurs.roles') }}">ici</a></h5>
</div>

{% for message in app.flashes('message') %}
<div class="alert alert-success" role="alert">
	{{ message }}
</div>
{% endfor %}
{% for message in app.flashes('warning') %}
<div class="alert alert-danger" role="alert">
	{{ message }}
</div>
{% endfor %}

<table class="table" style="margin-top: 50px;">
	<thead>
		<th>Identité</th>
		<th>Email</th>
		<th>Action</th>
	</thead>
	<tbody>
		{% for user in users %}
			<tr>
				<td>{{ user.prenom }} {{ user.nom }}</td>
				<td>{{ user.email }}</td>
				<td>
					<a href="{{ path('security.activation', {'token': user.activation_token}) }}" class="btn btn-success" onclick="return confirm('Valider ce compte ?')">Valider</a>
					<form action="{{ path('admin.utilisateur.delete', {id: user.id}) }}" style="display: inline-block;" method="POST" onsubmit="return confirm('Supprimer cette creation de compte ?')">
						<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ user.id) }}">
						<input type="hidden" name="_method" value="DELETE">
						<button class="btn btn-danger">Supprimer</button>
					</form>
				</td>
			</tr>
		{% else %}
			<tr>
				<td colspan="4">Il n'y a pas d'utilisateur a valider</td>
			</tr>
		{% endfor %}
	</tbody>
</table>
{% endblock %}