{% extends "base.html.twig" %}

{% block body %}
<div class="text-center" style="margin-top: 30px;">
	<h1>Gestion des Utilisateurs</h1> 
	<h5>Si un utilisateur spécifique n'apparait pas, c'est surement car vous n'avez pas encore validé son compte. Pour ce faire, se rendre <a href="{{ path('admin.utilisateurs.validation') }}">ici</a></h5>
</div>

{% for message in app.flashes('message') %}
<div class="alert alert-success" role="alert">
	{{ message }}
</div>
{% endfor %}
{% for message in app.flashes('warning') %}
<div class="alert alert-danger" role="alert">
	{{ message }}
</div>
{% endfor %}

<table class="table" style="margin-top: 50px;">
	<thead>
		<th>Identité</th>
		<th>Date de fin de validaté de contrat</th>
		<th>Service(s) rataché(s)</th>
		<th>Actions</th>
	</thead>
	<tbody>
		{% for user in users %}
			{% if user != app.user %}
				<tr>
					<td><strong>{{ user.prenom }} {{ user.nom }}</strong> : <em>{{ user.email }}</em></td>
					<td>
						{{ user.formatDate(user.getDateFinValid()) }}
					</td>
					<td>
						<ul>
							{% for service in user.services %}
								<li>{{ service.getCode() }}</li>
							{% endfor %}
						</ul>
					</td>
					<td>
						<form action="{{ path('admin.utilisateur.delete', {id: user.id}) }}" style="display: inline-block;" method="POST" onsubmit="return confirm('Confirmation : souhaitez-vous supprimer cet agent de la base de donnée ?')">
							<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ user.id) }}">
							<input type="hidden" name="_method" value="DELETE">
							<button class="btn btn-danger">Supprimer</button>
						</form>
					</td>
				</tr>
			{% endif %}
		{% else %}
			<tr>
				<td colspan="4">Il n'y a pas d'utilisateur a valider</td>
			</tr>
		{% endfor %}
	</tbody>
</table>
{% endblock %}