{% import _self as formMacros %}
{% extends "bases/crous-base.html.twig" %}

{% block subnavbar %}
	<nav class="subnavbar-crous">
		<div class="previous-link">
			<a href="{{ path('home') }}">Page précédente</a>
		</div>
		<div class="subnavbar-title">
			<h1>Gestion des demandes pour la DSI</h1> 
			<p>
				<em>Ici s'affiche les demandes validée par un valideur du service (état 1). Veuillez notifier que cette demande à bien été prise en compte par un DSI en appuyant sur le bouton "Traiter".</a></em>
			</p>
		</div>
	</nav>
{% endblock %}

{% block body %}

{% include "bases/_display-flashes.html.twig" %}

{% for demande in demandes %}
	<div class="large-card-crous">
		<div class="large-card-title">
			<div>
				<strong>{{ demande.user.nom }}</strong> {{ demande.user.prenom }}
			</div>
			<em>{{ demande.user.email}}</em> {{ demande.service.getLibelleCourt() }}
			<div>
				<em style="font-size: 0.8em;">créée il y a <strong>{{ demande.createdDaysAgo() }}</strong> jour(s)</em>
			</div>
		</div>
		<p>Applications demandées par l'agent :</p>
		<div class="large-card-body">
			<div class="to-add">
				<p>Nouveaux droits</p>
				<hr>
				{% for applicationDemande in demande.applications %}
				{% if applicationDemande.needNewAccess() and not applicationDemande.getASupprimer()  %}
					<div>{{ applicationDemande.application.libelle }}</div>
				{% endif %}
				{% endfor %}
			</div>
			<div class="to-delete">
				<p>Droits à supprimer</p>
				<hr>
				{% for applicationDemande in demande.applications %}
				{% if applicationDemande.getASupprimer() %}
					<div>{{ applicationDemande.application.libelle }}</div>
				{% endif %}
				{% endfor %}
			</div>
			<div class="to-remain">
				<p>Droits inchangés</p>
				<hr>
				{% for applicationDemande in demande.applications %}
				{% if not applicationDemande.needNewAccess() and not applicationDemande.getASupprimer() %}
					<div>{{ applicationDemande.application.libelle }}</div>
				{% endif %}
				{% endfor %}
			</div>
			<form action="" method="POST" onsubmit="return confirm('Confirmation : je confirme avoir bien traité cette demande ?');">
				<input type="hidden" name="demande_id" value="{{ demande.id }}">
				<button type="submit" class="btn bouton-crous" >Traiter</button>
			</form>
		</div>
	</div>
{% endfor %}
{% endblock %}

