{% extends "bases/crous-base.html.twig" %}

{% block subnavbar %}
	<nav class="subnavbar-crous">
		<div class="previous-link">
			<a href="{{ path('home') }}">Page précédente</a>
		</div>
		<div class="subnavbar-title">
			<h1>Gestion des valideurs</h1> 
			<p>
				<em>Choisir un service pour lequel vous avez les droits de valideur. Si vous n'avez pas les droits, vous pouvez toujours consulter ce service et connaître qui possède actuellement les droits de valideur</em>
			</p>
		</div>
	</nav>
{% endblock %}

{% block body %}
{% if app.user.isAdmin()  or app.user.isDSI() %}
<div class="search-box">
	<p><strong>Rechercher un service</strong></p>
	{{ form_start(form) }}
		{{ form_widget(form.q) }}
		<button type="submit" class="btn btn-primary w-100">Filtrer</button>
	{{ form_end(form) }}
</div>
{% endif %}

{% for message in app.flashes('message') %}
<div class="alert alert-success" role="alert">
	{{ message }}
</div>
{% endfor %}
{% for message in app.flashes('warning') %}
<div class="alert alert-danger" role="alert">
	{{ message }}
</div>
{% endfor %}

<div class="cards-crous">
	{% for service in services %}
	<div class="card">
		<div class="card-body" style="background-color: rgba(240, 240, 240, 0.45);">
			<h5 class="card-title text-center text-uppercase">{{ service.libelle_court }}</h5>
			<hr>
			<div class="card-text" style="height: 100px;">
				{{ service.libelle_court }}
				<div class="text-muted">{{ service.libelle_long }}</div>
				{% if app.user.isValidator(service.id) %}<div class="text-info validator-div">Vous êtes valideur</div>{% endif %}
			</div>
			<div class="text-center" style="color: rgb(192, 125, 0); margin-bottom: 15px;">{{ service.getNumberOfCurrentValidator() }} valideur{% if service.getNumberOfCurrentValidator() > 1 %}s{% endif %} actuellement</div>
			{% if app.user.isValidator(service.id) or app.user.isDSI() or app.user.isAdmin() %}
			<div class="modify-demand-div" onclick="location.href='{{ path('valideur.gestion-valideurs.service', {'id': service.id}) }}';">
				Gérer les valideurs
			</div>
			{% else %}
			<div class="create-demand-div" onclick="location.href='{{ path('agent.connaitre-valideurs', {'id': service.id}) }}';">
				Connaître les valideurs
			</div>
			{% endif %}
		</div>
	</div>
	{% endfor %}
</div>
{% endblock %}