{% extends "bases/crous-base.html.twig" %}

{% block subnavbar %}
	<nav class="subnavbar-crous">
		<div class="flex-center pseudo-elt previous-link">
			<a href="{{ path('home') }}">Page précédente</a>
		</div>
		<div class="subnavbar-title">
			<h1>Gestion des valideurs</h1> 
			<em>Choisir un service pour lequel vous avez les droits de valideur. Si vous n'avez pas les droits, vous pouvez toujours consulter ce service et connaître qui possède actuellement les droits de valideur</em>
		</div>
	</nav>
{% endblock %}

{% block body %}

{% include "bases/_research-form.html.twig" %}

{% include "bases/_display-flashes.html.twig" %}

<div class="grid-3 cards-crous">
	{% for service in services %}
	<div class="card">
		<div class="card-body">
			<h5 class="text-center card-title"><span>{{ service.code }}</span> : {{ service.libelle_court }}</h5>
			<div class="card-current-validator">{{ service.getNumberOfCurrentValidator() }} valideur{% if service.getNumberOfCurrentValidator() > 1 %}s{% endif %} actuellement</div>
			{% if app.user.isValidator(service.id) %}<div class="card-you">(dont vous)</div>{% endif %}
			<p class="card-libelle-long">{{ service.libelle_long }}</p>
			
			{% if app.user.isValidator(service.id) or app.user.isDSI() or app.user.isAdmin() %}
			<div class="status-btn flex-center modify" onclick="location.href='{{ path('valideur.gestion-valideurs.service', {'id': service.id}) }}';">
				Gérer les valideurs
			</div>
			{% else %}
			<div class="status-btn flex-center show" onclick="location.href='{{ path('agent.connaitre-valideurs', {'id': service.id}) }}';">
				Connaître les valideurs
			</div>
			{% endif %}
		</div>
	</div>
	{% endfor %}
</div>
{% endblock %}