{% import _self as formMacros %}
{% extends "bases/crous-base.html.twig" %}

{% block subnavbar %}
	<nav class="subnavbar-crous">
		<div class="previous-link">
			<a href="{{ path('valideur.gestion-valideurs.home') }}">Page précédente</a>
		</div>
		<div class="subnavbar-title">
			<h1>Gestion des valideurs pour le service {{ service.libelle_court }}</h1> 
			<p>
				<em>Modifier les droits de valideur pour un agent de ce service en cliquant sur celui-ci. Vous pouvez le faire car vous êtes valideur de ce service actuellement.</em>
			</p>
		</div>
	</nav>
{% endblock %}

{% macro printValidatorForm(validatorForm) %}
<div class="row form-row-center row-flex">
	<div class="col-md-4" style="display: inline-flex;">de&nbsp;&nbsp;&nbsp;{{ form_widget(validatorForm.date_deb) }}</div>
	<div class="col-md-4" style="display: inline-flex;">&nbsp;&nbsp;à&nbsp;&nbsp;&nbsp;{{ form_widget(validatorForm.date_fin) }}</div>
</div>
{% endmacro %}

{% block body %}
<table id="table" class="table">
	<thead class="thead-crous">
		<th></th>
		<th >Nom</th>
		<th >Prénom</th>
		<th>Email</th>
		<th style="text-align: center;">Actuellement valideur</th>
	</thead>
	<tbody>
		{% if users is empty %}
		<tr>
			<td colspan="5">Il n'existe pas d'agent pour ce service</td>
		</tr>
		{% else %}
		{% for user in users %}
			<tr>
				<td class="vert-middle">
				{% if app.user.isValidator(service.id) or app.user.isAdmin() or app.user.isDSI() %}
					<a class="flip pencil" href="#user_detail_{{ loop.index0 }}"></a>
				{% endif %}
				</td>
				<td class="vert-middle"><strong>{{ user.nom }}</strong></td>
				<td class="vert-middle"><strong>{{ user.prenom }}</strong></td>
				<td class="vert-middle">{{ user.email }}</td>
				<td style="text-align: center;" class="vert-middle {% if user.isValidator(service.id) %}yes-dsi"><em>oui</em>{% else %}no-dsi"><em>non</em>{% endif %}</td>
			</tr>
		{% endfor %}
		{% endif %}
		
	</tbody>
</table>

{% include "bases/_display-flashes.html.twig" %}

<div class="detail-box">

	{% for form in forms %}
	<div class="panel" id="user_detail_{{ loop.index0 }}">
		
		<div class="detail-box-banner banner_{{ loop.index0 }}">
			<div class="detail-phrase">
				Gestion des périodes d'accès à la fonction valideur de ce service <strong>{{ users[loop.index0].prenom }} {{ users[loop.index0].nom }}</strong>
			</div>
		</div>
		{{ form_start(form) }}
			<div class="form-error">
					{{ form_errors(form)}}
			</div>
			<div class="form_{{ loop.index0 }}" data-prototype="{{ formMacros.printValidatorForm(form.valideurs.vars.prototype)|e('html_attr') }}">
				{% for validatorForm in form.valideurs %}
					{{ formMacros.printValidatorForm(validatorForm) }}
				{% endfor %}
			</div>
			<hr>
			<div class="save-div" id="save-div">
				{{ form_widget(form.save, {'label': 'Enregistrer', 'attr': {'class': 'save-button'}}) }}
			</div>
			<input type="hidden" id="custId" name="custId" value="{{ loop.index0 }}">
			<input type="hidden" id="endDate" name="endDate" value="{{ users[loop.index0].fullyFormatDate(users[loop.index0].getDateFinValid()) }}">
		{{ form_end(form) }}

	</div>
	{% endfor %}

</div>
{% endblock %}