{% extends "bases/crous-base.html.twig" %}

{% block subnavbar %}
	<nav class="subnavbar-crous">
		<div class="previous-link">
			<a href="{{ path('home') }}">Page précédente</a>
		</div>
		<div class="subnavbar-title">
			<h1>Choisir un service</h1> 
			<p>
				<em>Ici s'affiche tous les services dont vous êtes actuellement valideur. Choissez un service pour valider les demandes associées</em>
			</p>
		</div>
	</nav>
{% endblock %}

{% block body %}
{% for message in app.flashes('message') %}
<div class="alert alert-success" role="alert">
	{{ message }}
</div>
{% endfor %}
{% for message in app.flashes('warning') %}
<div class="alert alert-danger" role="alert">
	{{ message }}
</div>
{% endfor %}

<div class="cards-crous">
	{% for service in services %}
	<div class="card">
		<span class="notification-badge"><span>{{ service.getNumberDemands0And1() }}</span></span>
		<div class="card-body">
			<h5 class="text-center card-title"><span>{{ service.code }}</span> : {{ service.libelle_court }}</h5>
			<p class="card-libelle-long">{{ service.libelle_long }}</p>
			<div class="status-btn modify" onclick="location.href='{{ path('valideur.validation-demandes.service', {'id': service.id}) }}';">
				Traiter les demandes
			</div>
		</div>
	</div>
	{% endfor %}
</div>
{% endblock %}
