{% extends "bases/crous-base.html.twig" %}

{% block subnavbar %}
	<nav class="subnavbar-crous">
		<div class="flex-center pseudo-elt previous-link">
			<a href="{{ path('home') }}">Page précédente</a>
		</div>
		<div class="subnavbar-title">
			<h1>Choisir un service</h1> 
			<p>
				<em>Ici s'affiche tous les services dont vous êtes actuellement valideur. Choissez un service pour valider les demandes associées</em>
			</p>
		</div>
	</nav>
{% endblock %}

{% block body %}
	<div class="cards-crous">
		{% for service in services %}
		<div class="card">
			<span class="notification-badge"><span>{{ service.countDemands0() }}</span></span>
			<div class="card-body">
				<h5 class="text-center card-title"><span>{{ service.code }}</span> : {{ service.libelle_court }}</h5>
				<p class="card-libelle-long">{{ service.libelle_long }}</p>
				{% if service.getDemandes is not empty %}
				<div class="status-btn flex-center modify" onclick="location.href='{{ path('valideur.validation-demandes.service', {'id': service.id}) }}';">
					Traiter les demandes
				</div>
				{% endif %}
			</div>
		</div>
		{% endfor %}
	</div>
{% endblock %}
