{% import _self as formMacros %}
{% extends "bases/crous-base.html.twig" %}

{% macro printApplicationDemandeForm(appliForm) %}
<div class="row form-row-center row-flex-start">
	<div class="col-md-3">{{ form_widget(appliForm.application) }}</div>
	<div class="col-md-3" style="display: inline-flex;">de&nbsp;&nbsp;&nbsp;{{ form_widget(appliForm.date_deb) }}</div>
	<div class="col-md-3" style="display: inline-flex;">&nbsp;&nbsp;à&nbsp;&nbsp;&nbsp;{{ form_widget(appliForm.date_fin) }}</div>
</div>
{% endmacro %}

{% block subnavbar %}
	<nav class="subnavbar-crous">
		<div class=" pseudo-elt flex-center previous-link">
			<a href="{{ path('valideur.validation-demandes.home') }}">Page précédente</a>
		</div>
		<div class="subnavbar-title">
			<h1>Toutes les demandes en cours pour ce service</h1> 
			<p>
				<em>Ici s'affiche toutes les demandes en cours pour ce service</em>
			</p>
		</div>
	</nav>
{% endblock %}

{% block body %}
<table id="table" class="table">
	<thead class="thead-crous">
		<th></th>
		<th>Nom</th>
		<th>Prénom</th>
		<th>Email</th>
		<th></th>
	</thead>
	<tbody class="tbody-crous">
		{% if demandes is not empty %}
			{% for demande in demandes %}
			<tr class="vert-middle">
				{% if demande.etat == 0 %}
				<td><a class="flip pencil pseudo-elt" href="#user_detail_{{ loop.index0 }}">A valider</a></td>
				{% else %}
				<td><a class="flip waiting pseudo-elt" href="#user_detail_{{ loop.index0 }}">En cours de validation</a></td>
				{% endif %}
				<td><strong>{{ demande.user.nom }}</strong></td>
				<td><strong>{{ demande.user.prenom }}</strong></td>
				<td>{{ demande.user.email }}</td>
				<td><a class="trash" href=""></a></td>
			</tr>
			{% endfor %}
		{% else %}
			<tr>
				<td colspan="4"><em>Aucune demande à valider.</em></td>
			</tr>
		{% endif %}
	</tbody>
</table>

{% include "bases/_display-flashes.html.twig" %}

<div class="detail-box">

	{% for form in forms %}
	{% set demande = demandes[loop.index0] %}
	{% set user = demande.user %}
	{% set currentPhone = user.getPhoneByService(service.id) %}
	{% set currentMails = user.getMailsByService(service.id) %}
	{% set currentFolders = user.getFoldersByService(service.id) %}
	<div class="panel" id="user_detail_{{ loop.index0 }}">

		<div class="detail-box-banner banner_{{ loop.index0 }}">
			<div class="detail-phrase">
				Application(s) demandée(s) pour l'agent <strong>{{ user.prenom }} {{ user.nom }}</strong>
			</div>
		</div>
		{{ form_start(form) }}
			<div class="form-error">
					{{ form_errors(form)}}
			</div>
			<div class="form_{{ loop.index0 }}" data-prototype="{{ formMacros.printApplicationDemandeForm(form.applicationDemandes.vars.prototype)|e('html_attr') }}">
				{% for appliForm in form.applicationDemandes %}
					{{ formMacros.printApplicationDemandeForm(appliForm) }}
				{% endfor %}
			</div>
			{% include "bases/_ressources-supp.html.twig" %}
			<hr>
			{% if demande.etat == 1 %}<p class="already-validate">Cette demande a déjà été validée par vous ou un autre responsable de ce service. En validant de nouveau cette demande vous écrasez l'ancienne sauvegarde, c'est uniquement cette nouvelle demande qui sera traitée par la DSI.</p> {% endif %}
			<div class="save-div">
				{{ form_widget(form.save, {'label': 'Valider cette demande', 'attr': {'class': 'save-button'}}) }}
			</div>
			<input type="hidden" id="custId" name="custId" value="{{ loop.index0 }}">
			<input type="hidden" id="endDate" name="endDate" value="{{ user.fullyFormatDate(user.getDateFinValid()) }}">
		{{ form_end(form) }}

	</div>
	{% endfor %}

</div>
{% endblock %}