{% extends "bases/crous-base.html.twig" %}

{% block subnavbar %}
	<nav class="subnavbar-crous">
		<div class="previous-link">
			<a href="{{ path('agent.gestion-demandes.home') }}">Page précédente</a>
		</div>
		<div class="subnavbar-title">
			<h1>Demande pour le service {{ service.getLibelleCourt() }}</h1>
			<p>
				<em>Vous souhaitez faire une demande d'ouverture de droit d'accès pour le service "{{ service.getLibelleLong() }}"</em>
			</p>
		</div>
	</nav>
{% endblock %}

{% set currentPhone = app.user.getPhoneByService(service.id) %}
{% set currentMails = app.user.getMailsByService(service.id) %}
{% set currentFolders = app.user.getFoldersByService(service.id) %}

{% block body %}
<div class="user-demand-box">
	<form action="" method="POST">
		<p><em>Cocher l'ensemble des applications nécessaires. Vous ne pouvez pas décocher une application dont vous avez actuellement les droits. Seul un responsable du service peut le faire.</em></p>
		<div class="user-demand">
			<p>Applications transverses</p>
			<div class="applications-div">
			{% for application in applications %}
				{% if application.isTransverse() %}
				<div>
					<input type="checkbox" name="{{ application.id }}" id="{{ application.code }}" value="{{ application.code }}"{% if application.isAlreadyRequested(app.user.id, service.id) or application.hasAlreadyAccess(app.user.id, service.id) %} checked{% endif %} {% if application.hasAlreadyAccess(app.user.id, service.id) %} disabled{% endif %}
					>
					<label for="{{ application.code }}"><strong>{{ application.code }}</strong> - {{ application.libelle }}</label>
				</div>
				{% endif %}
				{% endfor %}
			</div>
		</div>
		<div class="user-demand">
			<p>Applications à profil</p>
			<div class="applications-div">
			{% for application in applications %}
				{% if not application.isTransverse() %}
				<div>
					<input type="checkbox" name="{{ application.id }}" id="{{ application.code }}" value="{{ application.code }}"{% if application.isAlreadyRequested(app.user.id, service.id) or application.hasAlreadyAccess(app.user.id, service.id) %} checked{% endif %} {% if application.hasAlreadyAccess(app.user.id, service.id) %} disabled{% endif %}
					>
					<label for="{{ application.code }}"><strong>{{ application.code }}</strong> - {{ application.libelle }}</label>
				</div>
				{% endif %}
				{% endfor %}
			</div>
		</div>
		{% include "bases/_ressources-supp.html.twig" %}
		<hr>

		<div class="info-term text-center">Une fois créée, votre demande doit être validée par un responsable du service associé puis traitée par la DSI qui se chargera de vous octroyer les droits. Tant qu'un responsable ne l'a pas validée ou refusée, vous pouvez modifier cette demande à votre guise. Seul le dernier enregistrement sera visible par votre responsable.</div>

		<div class="save-form-demand">
			<button type="submit" class="bouton-crous">Faire la demande</button>
		</div>
	</form>
</div>
{% endblock %}