<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>{% block title %}Dev | CROUS Access{% endblock %}</title>
	
	<!-- CSS from app.css -->
	{{ encore_entry_link_tags('app') }}
	{% block stylesheets %}{% endblock %}
</head>
<body>
	<nav class="navbar navbar-expand-md navbar-crous">
		<a class="navbar-crous-brand" href="{{ path('home') }}">
			<img src="/ressource/logo_Crous.png" alt="logo du Crous Clermont Auvergne">
		</a>
		<div class="navbar-crous-items">
			{% if app.user %}
			<div class="navbar-crous-gestion">
				<div>
					<a class="navbar-crous-link" href="{{ path('admin.utilisateurs.validation') }}">Validation des nouveaux comptes</a>
				</div>
				<div class="dropdown">
					<a class="navbar-crous-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						Gestion
					</a>
					<div class="dropdown-menu" aria-labelledby="navbarDropdown">
						<a class="dropdown-item" href="{{ path('admin.utilisateurs') }}">Gestion des utilisateurs</a>
						<a class="dropdown-item" href="{{ path('admin.utilisateurs.dsi') }}">Gestion des DSI</a>
						<a class="dropdown-item" href="{{ path('valideurs.home') }}">Gestion des valideurs</a>
						<div class="dropdown-divider"></div>
						<a class="dropdown-item" href="{{ path('admin.services') }}">Gestion des services</a>
						<a class="dropdown-item" href="{{ path('admin.applications') }}">Gestion des applications</a>
					</div>
				</div>
			</div>
			<div class="status-connected">
				<div class="who-connected">
					(connecté(e) avec : <em>{{ app.user.email }}</em>)
				</div>
				<div class="logout-div">
					<a href="{{ path('security.logout') }}" class="navbar-crous-link logout-perso">Se déconnecter</a>
				</div>
			</div>
			{% else %}
			<div class="status-disconnected">
				<a href="{{ path('security.login') }}" class="navbar-crous-link login-perso">Se connecter</a>
			</div>
			{% endif %}
		</div>
	</nav>
	{% block subnavbar %}{% endblock %}
	
	
	<div class="container">
		{% block body %}{% endblock %}
	</div>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
	{{ encore_entry_script_tags('app') }}
	{% block javascripts %}{% endblock %}
</body>
</html>
