<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
		<title>{% block title %}Dev | CROUS Access{% endblock %}</title>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
		{% block stylesheets %}{% endblock %}
		<style>
			.bouton-perso {
				background: red;
				color: white;
				font-weight: 700;
				padding: 15 30px;
				margin-top: 15px;
				border: 1px solid rgb(136, 0, 0);
			}
		</style>
    </head>
    <body>
		<nav class="navbar navbar-expand-md navbar-dark static-top" style="background-color: #fe0000;">
			<a class="navbar-brand" href="{{ path('home') }}"><strong>CROUS</strong><br>Accueil</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
			  <span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarsExampleDefault">
				{% if app.user %}
				<ul class="navbar-nav mr-auto">
					<li class="nav-item">
					<a class="nav-link" href="{{ path('admin.utilisateurs.roles') }}">Gestion des rôles</a>
					</li>
					<li class="nav-item">
					<a class="nav-link" href="{{ path('admin.utilisateurs.validation') }}">Validation des nouveaux comptes</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="{{ path('service_index') }}">Creation services</a>
					</li>
				</ul>
				{% endif %}
			  	<ul class="navbar-nav mr-auto">
				  {% if not app.user %}
				  	<li class="nav-item">
						<a href="{{ path('security.login') }}" class="nav-link">Se connecter</a>
					</li>
					{% else %}
					<li class="nav-item">
						<a href="{{ path('security.logout') }}" class="nav-link">Se déconnecter</a>
				  	</li>
				  {% endif %}
				  </ul>
				  {% if app.user %}
				  	<ul class="navbar-nav mr-auto">
						<li class="nav-item" style="font-size: 0.8em;">(connecté(e) avec : <em>{{ app.user.email }}</em>)</li>
					</ul>
				  {% endif %}
			</div>
		</nav>
		<div class="container">
			{% block body %}{% endblock %}
		</div>
		<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
		<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
		{% block javascripts %}{% endblock %}
</body>
</html>
