{% extends 'base.html.twig' %}

{% block title %}Service{% endblock %}

{% block body %}
    <h1>Service</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ service.id }}</td>
            </tr>
            <tr>
                <th>Code</th>
                <td>{{ service.code }}</td>
            </tr>
            <tr>
                <th>Libelle_court</th>
                <td>{{ service.libelleCourt }}</td>
            </tr>
            <tr>
                <th>Libelle_long</th>
                <td>{{ service.libelleLong }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('admin.service_index') }}">back to list</a>

    <a href="{{ path('admin.service_edit', {'id': service.id}) }}">edit</a>

    {{ include('admin/service/_delete_form.html.twig') }}
{% endblock %}
