{% extends "bases/crous-base.html.twig" %}

{% block subnavbar %}
	<nav class="subnavbar-crous">
		<div class="previous-link">
			<a href="{{ path('valideur.gestion-valideurs.home') }}">Page précédente</a>
		</div>
		<div class="subnavbar-title">
			<h1>{{ service.libelle_court }}</h1> 
			<p>
				<em>Vous ne pouvez que voir qui est valideur car vous n'êtes qu'un agent de ce service.</em>
			</p>
		</div>
	</nav>
{% endblock %}

{% block body %}
<table id="table" class="table">
	<thead class="thead-crous">
		<th>Nom</th>
		<th>Prénom</th>
		<th>Email</th>
		<th style="text-align: center;">Actuellement valideur</th>
	</thead>
	<tbody>
		{% if users is empty %}
		<tr>
			<td colspan="5">Il n'existe pas d'agent pour ce service</td>
		</tr>
		{% else %}
		{% for user in users %}
			<tr>
				<td class="vert-middle"><strong>{{ user.nom }}</strong></td>
				<td class="vert-middle"><strong>{{ user.prenom }}</strong></td>
				<td class="vert-middle">{{ user.email }}</td>
				<td style="text-align: center;" class="vert-middle {% if user.isValidator(service.id) %}yes-dsi"><em>oui</em>{% else %}no-dsi"><em>non</em>{% endif %}</td>
			</tr>
		{% endfor %}
		{% endif %}
		
	</tbody>
</table>

{% endblock %}