{% extends "bases/crous-base.html.twig" %}

{% block subnavbar %}
	<nav class="subnavbar-crous">
		<div class="previous-link">
			<a href="{{ path('valideur.gestion-valideurs.home') }}">Page précédente</a>
		</div>
		<div class="subnavbar-title">
			<h1>Service {{ service.libelle_court }}</h1> 
			<p>
				<em>Consulter qui est valideur parmi tous les agents du service</em>
			</p>
		</div>
	</nav>
{% endblock %}

{% block body %}
<table id="table" class="table">
	<thead class="thead-crous">
		<th>Nom</th>
		<th>Prénom</th>
		<th>Email</th>
		<th style="text-align: center;">Actuellement valideur</th>
		<th></th>
	</thead>
	<tbody>
		{% if service.users is empty %}
		<tr>
			<td colspan="5">Il y a aucun pas d'agent pour ce service</td>
		</tr>
		{% else %}
		{% for user in service.users %}
		{% set daysBefore = user.countDaysBeforeValidator(service.id) %}
			<tr>
				<td class="vert-middle"><strong>{{ user.nom }}</strong></td>
				<td class="vert-middle"><strong>{{ user.prenom }}</strong></td>
				<td class="vert-middle">{{ user.email }}</td>
				<td class="flex-center {% if user.isValidator(service.id) %}yes"><em>oui</em>{% else %}no"><em>non</em>{% endif %}</td>
				<td class="vert-middle">
					{% if daysBefore < 0 %}
						 pendant encore <strong>{{ daysBefore|abs }}</strong> jour(s)
					{% elseif daysBefore > 0 %}
						l'est dans <strong>{{ daysBefore }}</strong> jour(s)						
					{% endif %}

				</td>
			</tr>
		{% endfor %}
		{% endif %}
		
	</tbody>
</table>

{% endblock %}