{% extends "base.html.twig" %}

{% block subnavbar %}
	<nav class="subnavbar-crous">
		<h1>Faire une demande</h1>
		<p>
			<em>Veuillez choisir le service pour lequel pour souhaitez faire une demande</em>
		</p>
	</nav>
{% endblock %}

{% block body %}

{% for message in app.flashes('message') %}
<div class="alert alert-success" role="alert">
	{{ message }}
</div>
{% endfor %}
{% for message in app.flashes('warning') %}
<div class="alert alert-danger" role="alert">
	{{ message }}
</div>
{% endfor %}

<div class="cards-crous">
	{% for service in services %}
	<div class="card">
		<div class="card-body" style="background-color: rgba(240, 240, 240, 0.45);">
			<h5 class="card-title text-center">{{ service.libelle_court }}</h5>
			{% if etats[loop.index0] is null %}
			<p class="card-text">Aucune demande n'a encore été faite pour ce service. Vous pouvez à tout moment en créer une en cliquant sur le bouton.</p>
			<hr>
			<div class="create-demand-div" onclick="location.href='{{ path('user.demande.edit', {'id': service.id}) }}';">
				Faire une nouvelle demande
			</div>
			{% elseif etats[loop.index0] == 0 %}
			<p class="card-text">La demande associée à ce service est en cours de validation. Vous pouvez encore la modifier.</p>
			<p class="card-text" style="font-size: 0.8em;"><em>derniere modification : le <strong>{{ dates_modif[loop.index0] }}</strong></em></p>
			<div class="modify-demand-div" onclick="location.href='{{ path('user.demande.edit', {'id': service.id}) }}';">
				Modifier ma demande
			</div>
			{% else %}
			<p class="card-text">Vous ne pouvez pas modifer cette demande car il en existe déjà une en cours pour ce service.</p>
			<div class="impossible-demand-div">
				Modification impossible
			</div>			
			{% endif %}
		</div>
	</div>
	{% endfor %}
</div>
{% endblock %}