{% extends "base.html.twig" %}

{% block body %}
<div class="text-center" style="margin-top: 30px;">
	<h1>Edition de la demande pour le service</h1>
	<p>
		<em>Vous souhaitez faire une demande d'ouverture de droit d'accès pour le service "{{ service.getLibelleCourt() }}". Cocher l'ensemble des applications nécessaires</em>
	</p>
</div>

<div class="applications-box">
	<form action="" method="POST">
		<div class="boxes">
			{% for application in applications %}
			<div>
				<input type="checkbox" name="{{ application.id }}" id="{{ application.code }}" value="{{ application.code }}" {% if applications_agent[application.id] is defined %} checked{% endif %}>
				<label for="{{ application.code }}">{{ application.libelle }}</label>
			</div>
			{% endfor %}
		</div>

		<hr>

		{% if etat == 1 %}<em>Cette demande a été acceptée par un valideur de ce service, vous ne pouvez donc plus la modifier.</em>{% endif %}

		<div class="save-form-demand">
			<button type="submit" class="bouton-crous"{% if etat > 0 %} disabled{% endif %}>
			Faire la demande</button>
		</div>
	</form>
</div>

<div class="previous-link">
	<a href="{{ path('user.demandes') }}">Page précédente</a>
</div>
{% endblock %}